# ML API - Stress Test Report
## Introduction 

In this stress test I'm simulating the use of the app following endpoints:
 - /index 
 - /predict 

By using the tool [Locust](https://locust.io/) we managed to create different scenarios of users traffic. I used different scales for each endpoint, increasing /predict three times than /index because of the intended use.

## Hardware specifications of localhost:
### CPU:
Processor AMD Ryzen 5 2500U with Radeon Vega Mobile Gfx, 2000 Mhz, 4 Core(s), 8 Logical Processor(s).

**Without running any test the percentage of cpu used was around 60%.**

### Memory:
Installed physical memory (RAM): 12.0 GB
Local Disk (Solid state disk - SSD) free space: 37.9 GB 
Without running any test the percentage of cpu used was around 80%



## Report result
RPS
Users ping
Users breakdown
Seconds=

## Conclusions
asdaasd

Hardware issues detected configuration
![](locust_report_scale1.png)